</head>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Emergency Contact Info</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Disaster Response Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Emergency Contact Form</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="emergency.html">Emergency Numbers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="map.html">Disaster Hotspots</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/><br/><table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Authorities</th>
        <th scope="col">Contact Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Police</th>
        <td>110</td>
      </tr>
      <tr>
        <th scope="row">Fire Service/Ambulance</th>
        <td>112</td>
      </tr>
      <tr>
        <th scope="row">Air Rescue</th>
        <td>(0711) 70 10 70</td>
      </tr>
      <tr>
        <th scope="row">Suicide hotline</th>
        <td>0800 111 01 11</td>
      </tr>
      <tr>
        <th scope="row">Kids and youth hotline</th>
        <td>0800 111 03 33</td>
      </tr>
      <tr>
        <th scope="row">Alcoholics Anonymous</th>
        <td>19 295</td>
      </tr>
      <tr>
        <th scope="row">National Directory Enquiries</th>
        <td>11833</td>
      </tr>
      <tr>
        <th scope="row">International Directory Enquiries</th>
        <td>11834</td>
      </tr>

    </tbody>
  </table>

  </body>