</head>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Disaster Management</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Disaster Response Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Emergency Contact Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="emergency.html">Emergency Numbers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="map.html">Disaster Hotspots</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block contact %}
  {% endblock %}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr /><br/>
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg text-center" name="query" placeholder="Enter a message to classify"><br/>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-secondary">Classify Message
                        </button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}

    </div>
</div>

<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    {% endblock %}

    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}
</div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

</body>
</html>